.navBox {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}