* {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    font-family: Tahoma, Verdana, Courier;
    color: white;
}

h1 {
    font-family: Tahoma, Verdana, Courier;
    color: white;
    height: fit-content;
}

h1:hover {
    transform: translate(0px, 50px);
}

h2 {
    font-family: Tahoma, Verdana, Courier;
    color: white;
}

li {
    font-family: Tahoma, Verdana, Courier;
    color: white;
}

.layout {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    overflow: auto;
}

.middleBox {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex: 1;
}

.navBox {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex: 2;
    background-color: #1A1A1A;
}

.sidebar {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #292929;
}

.sidebarBox {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 50px;
    align-items: center;
}

.bannerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}

.aboutUsLogo {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    background-color: #35A76D;
    border-radius: 10px;
    width: 150px;
    float: left;
    padding: 5px;
    margin-right: 30px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #323232;
}

.navText {
    color: white;
    letter-spacing: 0.3em;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
}

.navText:link {
    color: green;
}

.navText:visited {
    color: lightgray;
}

.navText:hover {
    color: red;
    text-decoration: underline;
    border-color: red;
}

.navText:active {
    color: royalblue;
}